.main-home .go-to-top{
    margin: 19px;
    padding: 10px 10px 5px 10px;
    background-color: #2b2d42;
    border-radius: 44px;
    text-decoration: none;
    color: white;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 20px;
    bottom: 0px;
    position: fixed;
    z-index: 2;
}